body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}


.bg-image {
    position: absolute;
    width: 100%;
    height: 100vh;
    
    background-size: cover; /* Pokriva ceo ekran */
    background-position: center; /* Centrirana slika */
    background-repeat: no-repeat;
    z-index: -2;
}
.nav-bar{
    display:flex;
    position:absolute;
    top: 80px;
    right: 80px;
    gap: 50px;
    list-style: none;
    font-size: 20px;
}
.nav-bar li a{
    text-decoration: none; /* sklanjamo one linije ispod npr*/
    color:white

}
.nav-bar li a:hover{
    color: gold;
}
#MF{
    width: 203px;
    height:91px ;
    font-size: 40px;
    text-transform: uppercase;
    margin-top: 10px;
    margin-left: 92px;
    color: white;
    
    
}
header{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('images/LandingPage.png');
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 56px;
}
/*
.program{
    

    position: relative;
    width: 100%;
    height: 100vh;
    background: url('images/Rectangle\ 27.png'),
    url('images/Frame\ 1.png');
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 400px;
    
    background-size: cover; 
    background-position: center;                          PREDSTOJECI DOGADJAJI
    background-repeat: no-repeat;
}
.container{
    color: white;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: medium;  
    font-size: 48px;
    padding-left: 120px;
    padding-top: -40px;
}
*/
.button-container {
    display: flex;
    justify-content: center; /* Centriranje horizontalno */
    align-items: center; /* Centriranje vertikalno */
    gap: 20px; /* Razmak između dugmadi */
    position: absolute; 
    top: 80%; 
    left: 50%; 
    transform: translate(-50%, -50%); /* Precizno centriranje */
}
.custom-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    border: 2px solid white;
    border-radius: 50px;
    background: transparent;
    width: 250px;
    transition: 0.3s ;
    cursor: pointer;
}
.custom-btn:hover {
    background: greenyellow;
}

.custom-btn .icon {
    background: green;
    color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
.custom-btn .icon img{
    width: 30px;
    height: 30px;
}
.dobrodosli{
    height: 244px;
    width: 634px;
    background-color: transparent;
    color: white;
    
    justify-content: center;

    text-align: center;
    align-items: center;
    
    position: absolute;
    top: 45%;
    left: 29%;

    font-size: 48px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

body {
      background-color: #ffffff;
      font-family: 'Montserrat', sans-serif;
      padding: 40px;
    }

    h3 {
      font-weight: bold;
      font-size: 48px;
      width: 412px;
      height: 130px;
      margin-top: 60px;
      text-align: left;
    }

    .custom-box {
      background-color: #d9d9d9;
      font-weight: medium;
      font-size: 48px;
      border-radius: 15px;
      padding: 10px 15px;
      position: relative;
    }

    

    .comment-box {
      background-color: #d9d9d9;
      border-radius: 15px;
      padding: 10px;
      resize: none;
      border: none;
    }

   .slider-container {

      background-color: #111;

      border-radius: 30px;

      padding: 20px;

      display: flex;

      align-items: center;

      justify-content: space-between;

      max-width: 400px;

      margin: 50px auto;

    }


    input[type=range] {

      width: 100%;

      accent-color:#d2ff3e;

    }


    input[type=range]::-webkit-slider-thumb {

      background:#d2ff3e;

    }


    input[type=range]::-moz-range-thumb {

      background: #d2ff3e;

    }


    .rating-box {

      background: white;

      color: black;

      font-weight: bold;

      border-radius: 10px;

      padding: 5px 10px;

      min-width: 40px;

      text-align: center;

    }


    .submit-btn {

      background-color: #d2ff3e;

      color: black;

      border: none;

      border-radius: 30px;

      padding: 8px 20px;

      font-weight: bold;

      margin: 20px auto 0;

      display: block;

    }
    #Dodaj-u-omiljene{
        background-color: #e61919;
        color: white;

    }

.carousel{
    margin:50px;
}
.carousel-item img{
    height: 300px;
    /*
    - object-fit: cover osigurava da se slika popuni okvir bez izobličenja
    */
    object-fit: cover;
}
.carousel-control-prev,
.carousel-control-next {
    width: 5%;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black;
    border-radius: 50%;
    padding: 30px;
    background-size: 60% 60%;
    margin-bottom: 70px;
}

.carousel-control-prev {
    left: -70px;
}
.carousel-control-next {
    right: -70px;
}

.learn-more-btn {
    margin-top: 10px;
}

.artist-name {
    margin-top: 20px;
    font-weight: bold;
}

#program-paragraf{
    margin-top: 50px;
    font-size: 24px;
    font-weight: regular;
    
}
#program-festivala-naslov{
    font-size: 48px;
    font-weight: medium;
    margin-top: 100px;
    padding-top: 100px;
    
}
.festival {
    margin-left: 92px;
    color: white;
    margin-top: 100px;
    
}

#btn-festival{
    margin-left: 92px;
    margin-top: 100px;
}
.program-festivala-main{
    background:url('images/program-festivala.png');
    width: 1440px;
    height: 614px;
    

}

.form-range{
    background-color: grey;
    border-radius: 20px;
}



.top{
    max-width: 1000px;
    margin: auto;
}
#aca-lukas-slika img{
    width: 100%;
    border-radius: 8px;

}
.naslov h2{
    font-size: 48px;
    font-weight: medium;
    display: inline-block;
    padding: 5px 10px;
    margin-bottom: 10px;
}
.o-izvodjacu{
    font-weight: medium;
    margin-bottom: 10px;

}
.opis{
    font-size: 28px;
    margin-bottom: 20px;
}
.detalji-nastupa h5{
    font-weight: medium;
    margin-bottom: 10px;
    
}
.detalji-nastupa .row div{
    font-size: 32px;
}

body {
      font-family: 'Montserrat', sans-serif;
      background-color: #fff;
      padding: 40px;
    }

    .top {
      max-width: 1000px;
      margin: auto;
    }

    #aca-lukas-slika img {
      border-radius: 8px;
    }

    .naslov h2 {
      font-size: 48px;
      font-weight: 600;
      display: inline-block;
      padding: 5px 10px;
      margin-bottom: 70px;
      margin-left: -10px;
      
    }

    .o-izvodjacu {
      font-weight: 600;
      margin-bottom: 60px;
    }

    .opis {
      font-size: 18px;
      color: #333;
      margin-bottom: 80px;
    }

    .detalji-nastupa h5 {
      font-weight: 600;
      margin-bottom: 40px;
    }

    .detalji-nastupa .row div {
      font-size: 16px;
    }
    .container{
    margin-top: 100px;

    
}


